* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #ebf2ff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}

.navbar__brand {
  width: 100px;
}

.navbar__logo {
  width: 100%;
}

.button__primary {
  background-image: linear-gradient(to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: 600;

}

.button__primary:hover {
  border: 2px solid #ff8fab;
  cursor: pointer;
}

.container {
  padding: 20px 20px;
  margin: 0 auto;
}

.hero__image__container {
  width: 100%;
}

.hero__image {
  width: 100%;
  border-radius:10px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__text {
  font-size: 30px;
  margin: 20px 0px;
  color: #1d3557;
  font-weight: 800;
}



.explore__menu__text {
  color: #1d3557;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 800;

}

.food__card {
  background-color: #edf2ff;
}

.food__card__image__container {
  width : 100%;
}

.food__card__description {
  padding: 15px;
}

.food__image {
  border-radius: 8px 8px 0px 0px;
  width: 100%

}

.email__section {
  margin-top: 50px;
}

.email__section__heading {
  padding-left: 12px;
  padding-bottom: 16px;
  color: #1d3557;
  font-weight: 900;
}

.email__section__div {
  display: flex;
  grid-gap: 16px;
  justify-content: space-around;
  align-items: center;
}

.email__section__form__fill__button {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #e63946;
  background-color: #fcedfo;
}

.quote__section {
  margin-top: 28px;
  position: relative;
}

.quote__section__image {
  width: 100%;
}

.quote__section__image__pic {
  width: 100%;
  border-radius: 8px;
  z-index: -1;
  height: 25%;
}

.quote__section__quote {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
  z-index: +1;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding-top: 48px;
}

.footer {
  background-image: linear-gradient(to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );


  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 2px;
}

.footer__image {
  width: 300px;
  height: 201px;
  padding-top: 30px;
}

.footer__image__pic {
  width: 100%;

}

.footer__list {
  padding: 0px 40px;
  padding-bottom: 100px;

}

.footer__list__items {
  color: #fff;
}

@media (min-width : 768px){
  .navbar {
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
  }

  .hero__container {
    padding-bottom: 25px;
  }

  .hero__container {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .explore__menu__lists {
    display: flex;
    grid-gap: 15px;
  }

  #pizza__card {
    margin-top: -20px;
    margin-bottom: 30px;
  }

  .explore__menu__lists {
    margin-top: 45px;
    padding: 45px;
}

.explore__menu__container {
  position: relative;
}

.explore__menu__gradient__background {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  z-index: -3;
  transform: skewY(-5deg);


}

.email__section {
  margin-top: 80px;
  padding: 120px;
}

.email__section__heading {
  margin-left: 55px;
  padding-left: 25px;
  padding-bottom: 4px;
  font-size: 30px;
  color: #1d3557;
  font-weight: 900;
}

.email__section__div {
  display: flex;


  align-items: center;
  grid-gap: 4px;

}

.email__section__button {
  margin-left: -40px;
}

.email__section__form__fill__button {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #e63946;
  background-color: #fcedfo;
  padding-right: 24px;
}

.quote__section__quote {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
  z-index: +1;
  color: #fff;
  font-size: 36px;
  text-align: center;
  padding-top: 60px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



}

@media (min-width : 1024px){
  .container {
    max-width: 70%;
  }
  .navbar__brand {
    width: 150px;
  }
  .button__primary {
    padding: 20px;
    font-size: 20px;

  }

  .hero__container {
    padding-bottom: 25px;
  }

  .hero__description {
    width: 100%;

  }

  .hero__text {
    font-size: 48px;
  }

  .explore__menu__lists {
    grid-gap: 30px;
    padding: 45px;
  }

  .explore__menu__text {
    font-size: 48px;
  }

  .explore__menu__container {
    position: relative;
  }

  .explore__menu__gradient__background {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    z-index: -3;
    transform: skewY(-5deg);


  }

  .email__section__div {
    display: flex;


    align-items: center;
    grid-gap: 2px;

  }

  .email__section {
    margin-top: 80px;
    padding: 20px 200px;

  }

  .quote__section {
    width: 1110px;
    height: 300px;
    background-color: #0a4065;
  }

  .quote__section__image {
    width: 100%;
    height: 100%;
  }

  .quote__section__image__pic {
    width: 100%;
    border-radius: 8px;
    z-index: -1;
    height: 100%;
  }

  .quote__section__quote {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
    z-index: +1;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 60px;
  }


}

/* container is a bootstrap class that provides the entire padding and margin throughout the webpage */
